.player-bar-container {
  padding-top: 4px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* padding: 1em; */
  overflow: hidden;
}

.action-section {
  padding: 1em;
}

.player-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.player-icon {
  fill: #fff;
  width: 1.5em;
  user-select: none;
  pointer-events: none;
}

.slider-track {
  height: 3px;
  background-color: rgba(255, 255, 255, 0.25);
}

.slider-progress {
  height: 3px;
  background: var(--logo-fill);
}

.slider-hover-highlight {
  height: 3px;
  background-color: rgba(255, 255, 255, 0.5);
}

.slider-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: var(--logo-fill);
}
