#language-toggle-button {
  margin-right: 1em;
}

.language-toggle-menu {
  position: relative;
}

.language-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, 12.5%);
  max-height: 200px;
  min-width: 200px;
  bottom: 72px;
  border: 2px solid #585858;
  border-radius: 5px;
  overflow: hidden auto;
  background-color: #202020;
}
.language-menu-item {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em 1em .5em .5em;
  color: #fff;
}
.language-menu-item:hover {
  background-color: rgba(255, 255, 255, .15);
}

.hidden { display: none; }
