/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: plus-jakarta-sans;
  src: url('assets/fonts/PlusJakartaSans-VariableFont_wght.ttf');
}

:root {
  --bg: #03080d;
  --bg-light: #091826;
  --main: #00aeef;
  --main-med: #2186d9;
  --main-dark: #1c76bd;
  --accent: #c9002f;
  --accent-med: #b8002a;
  --accent-dark: #a60026;
  --logo-fill: linear-gradient(45deg, var(--main-dark) 0%, var(--main) 100%);
  --logo-fill-accent: linear-gradient(45deg, var(--accent-dark) 0%, var(--accent) 100%);
  --font: plus-jakarta-sans;
}

* {
  font-family: var(--font);
}

body {
  background-color: var(--bg);
  padding: 0;
  margin: 0;
}

.card {
  padding: 1.5em;
  /* background-color: #091826; */
  border-radius: 5px;
}

.card-txt-field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, .25);
  border-radius: 5px;
  padding: 1em;
  background-color: rgba(255, 255, 255, .125);
  color: #fff;
}
.card-txt-field:focus {
  outline: none;
  border-color: var(--main-dark);
}

.centered-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.accent-button {
  box-sizing: border-box;
  display: block;
  width: 100%;
  background-color: var(--accent);
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 1em;
}
.accent-button:hover {
  background-color: var(--accent-med);
}
.accent-button:active {
  background-color: var(--accent-dark);
}

.card-text {
  color: #fff;
}

.header-bar {
  position: relative;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  user-select: none;
  pointer-events: none;
  width: 128px;
}

.category-title {
  color: #fff;
  text-transform: capitalize;
}

.category-wrapper {
  margin: 2em;
}

.media-detail-title {
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 1.5em;
}

.media-detail-wrapper {
  padding-left: 2em;
}

.media-detail-tags {
  color: #bbb;
  text-transform: capitalize;
  /* font-size: 12pt; */
}
