.media-thumb {
  display: block;
  box-sizing: border-box;
  border-radius: 5px;
  border: 3px solid #bbb;
  user-select: none;
  pointer-events: none;
  height: 164px;
  width: 292px;
  transition-property: transform border-width border-color;
  transition-duration: .2s;
}

.media-card {
  box-sizing: border-box;
  width: 292px;
  margin: 0 1em;
}
.media-card:hover > .media-thumb {
  transform: scale(1.05);
  border-color: #fff;
}
.media-card:hover > .media-title {
  color: #fff;
}

.media-title {
  color: #bbb;
  margin-top: .5em;
  text-transform: capitalize;
  transition-property: color;
  transition-duration: .2s;
  pointer-events: none;
  user-select: none;
}
